<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Q Beleza!</title>
</head>
<body>

    <h2>Registrar novo serviço de beleza<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome" name="nome">
        <input type="text" placeholder="descricao" name="descricao">
        <input type="text" placeholder="preco" name="preco">
        <button type="submit">Submit</button>
    </form>

    <button><a href="/show">Listar serviços cadastrados</a></button>
</body>
</html>
